[Unit]
Description=Old Poolcar Frontend System
After=poolcar-backend.service
Wants=poolcar-backend.service

[Container]
Image=gitea.quilavr.top/quilavr/old-poolcar:0-frontend
ContainerName=poolcar-frontend
Network=dev.network
Pull=always

Environment=PUBLIC_API_BASE_URL=https://poolcar.quilavr.top/api
Environment=PUBLIC_WS_BASE_URL=https://poolcar.quilavr.top/ws

[Service]
Restart=always

[Install]
WantedBy=default.target
