{% extends "template.html" %}

{% block head %}
	<title>Dashboard - Poolcar</title>
{% endblock %}

{% block body %}
    <h1>Dashboard</h1>
    <p>This is a Dashboard page.</p>
    <p>Welcome, {{ username }} - {{ role }}!</p>
{% endblock %}
